.reservation_container{
    display: inline-flex;
    margin-top: 1rem;
    /* padding: 2rem; */
    max-width: 75vw;
}

.res_vehicule{
    margin: 1rem;
    text-align: center;
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    box-shadow: 10px 10px 30px rgb(0 0 0 / 15%);
    height: 130%;
    padding: 1rem;
}


.res_vehicule img{
    width : 100%;
    height : 80%;
    margin-bottom: 1rem;
}
.res_vehicule h3{
    margin-top: 1rem;
    text-decoration: underline;    
    margin-bottom: 3px;
}

.res_button_submit{
    margin-top: 1rem;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius:15px;
    height: 2rem;
    width: 5rem;
    background-color: rgb(164, 164, 164);
    margin-top: 1rem;
    cursor: url(hand.cur), pointer;
}

.res_button_submit:hover{
    transform: translate(0.05rem,0.05rem);
}

#reservation_page{
    margin-top: 8rem;
    text-align: center;
    align-items: center;

}

#reservation{
    display: inline-flex;
    margin: 1rem;
    text-align: center;
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    box-shadow: 10px 10px 30px rgb(0 0 0 / 15%);
    padding: 1rem;
}

#reservation_form input{
    cursor: url(hand.cur), pointer;
}

#reserve_text{
    margin-top: 8rem;
    display: block;
    text-align: center;
    align-items: center;
}

#reserve_text a{
    text-decoration: underline;
    color:rgb(0, 110, 255)
}